.container {
    background-color: #17a2b8;
    height: 350px;
    max-width: 600px;
    margin-top: 10px;
    border-radius: 20px;
}

.container #close-box {
    margin-top: 5px;
    padding: 10px;
    
  }